.vline {
    border-right: 3px solid #FFF;
    margin-right: 6px;
}

.login-page > .content, .lock-page > .content {
    padding-top: 4vh;
}

.card-header {
    max-width: 60% !important;
    margin: auto;
}