<div class="container-fluid">
  <div class="card">
    <h3 class="title text-center">
      Bienvenido, por favor selecciona tu programa
    </h3>
    <div class="card-content">
      <div class="col-sm-8 col-sm-offset-2 text-center" 
        *ngIf='_programas'>
        <div *ngFor="let prog of _programas">
          <a routerLink="/dashboard/wizard/{{prog.codigo}}/{{prog.id}}" 
            class="btn btn-round btn-xl btn-warning">
            {{prog.nombre}}
          </a>
        </div>
      </div>
    </div>
  </div>